.navbar {
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	background-color: #99bc25;
}

#title {
	font-size: 19px;
	padding-left: 20px;
}

#nav-links  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #99bc25;
}

#menu {
	display: flex;
	font-size: 19px;
}

li {
	float: right;
	height: 100%;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #acc751;
}